<div>
    <h2 style="padding-right: 50px;">Add A Course</h2>
</div>
<div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Course</h5>
                    </div>
                    <form style="padding: 0 15px;" [formGroup]="addForm">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" formControlName="courseName">
                            <div class="form-text">Enter the name of the course.</div>
                            <div *ngIf="addForm.controls['courseName'].invalid && (addForm.controls['courseName'].dirty || addForm.controls['courseName'].touched)" class="alert">
                                <div *ngIf="addForm.controls['courseName'].errors?.['required']">Name is required.</div>
                                <div *ngIf="addForm.controls['courseName'].errors?.['minlength']">Name must be at least 6 characters long.</div>
                                <div *ngIf="addForm.controls['courseName'].errors?.['maxlength']">Name must be at most 6 characters long.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Duration</label>
                            <input type="text" class="form-control" formControlName="courseDuration">
                            <div class="form-text">Enter the duration of the course.</div>
                            <div *ngIf="addForm.controls['courseDuration'].invalid && (addForm.controls['courseDuration'].dirty || addForm.controls['courseDuration'].touched)" class="alert">
                                <div *ngIf="addForm.controls['courseDuration'].errors?.['required']">Duration is required.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" formControlName="courseDescription">
                            <div class="form-text">Enter the description of the course.</div>
                            <div *ngIf="addForm.controls['courseDescription'].invalid && (addForm.controls['courseDescription'].dirty || addForm.controls['courseDescription'].touched)" class="alert">
                                <div *ngIf="addForm.controls['courseDescription'].errors?.['required']">Description is required.</div>
                            </div>
                        </div>
                        <button (click)="onAddCourse()"  class="btn btn-success" style="margin-bottom: 10px;">Add</button>
                        <button (click)="onCancel()" class="btn btn-danger" style="margin-bottom: 10px; float: right;">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
